
.app{
    width: 100%;
    height: 100vh;
    background: #14041D;
    // border: 1px solid red;
    overflow: hidden;
    
}

// .exp{
//     width: 100%;
//     height: 350px;
//     background: #14041D;
//     border: 2px solid red;
// }



.content{
    width: 100%;
    background: #14041D;
}